.one {
    background-color: Yellow;
}

.two {
    background-color: Purple;
    text-align: center;
}

.three {
    background-color: Orange;
    text-align: left;
}

#two {
    color: Red;
    font-size: 200%;
    text-align: center;
}

#three {
    color: Blue;
    font-size: 200%;
}